QPushButton {
    border-color: #ff9853;
    border-style: solid;
    background-color: #ff9853;
    color: #f9f9f9;
    font-size: 18px;
}

QPushButton:hover{
    background-color: #cc7942;
}

#btnConnect{
    margin-top: 10px;
}

#minimize{
    background-color: #032358;
}

#minimize:hover{
    background-color: #02183d;
}

#quitBtn{
    background-color: #9b123e;
}

#quitBtn:hover{
    background-color: #6c0c2b;
}

#titlebar{
    background-color: #2A836D;
}

#wMain{
    background-color: #032358;
}

#wCentral{
    background-color: #2d2d2d;
}

#wRack{
    background-color: #2d2d2d;
}

#numPasswords{
    font-size: 70px;
    font-family: 'DSEG14Classic';
}

#oText{
    font-size: 20px;
    font-family: 'Quicksand';
}

#pStoredText{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Quicksand';
}

#listText{
    font-size: 20px;
    font-weight: bold;
    color: #f9f9f9;
    font-family: 'Roboto';
}

#passSlate{
    background-color: #2A6D83;
}

btnCreate{
    font-size: 16px;
}

#seperator{
    background-color: #f9f9f9;
}

#deleteBtn{
    background-color: #9b123e;
}

#wrongPass{
    color: #9b123e;
    font-size: 16px;
}

#smallLabel{
    font-size: 12px;
    font-family: 'Quicksand';
    color: #f9f9f9;
}

QCheckBox{
    font-family: 'Quicksand';
    font-size: 16px;
    color: #f9f9f9;
}

QLineEdit{
    border: 1px solid #032358;
    padding: 3px;
    background-color: #222d32;
    font-family: 'Quicksand';
    font-size: 16px;
    color: #f9f9f9;
}

QTextEdit{
    border: 1px solid #032358;
    padding: 3px;
    background-color: #222d32;
    font-family: 'Quicksand';
    font-size: 16px;
    color: #f9f9f9;
}

QComboBox{
    background-color: #222d32;
    border: 1px solid #032358;
    font-size: 18px;
    color: #f9f9f9;
}

QComboBox::drop-down{
    width: 15px;
    border-style: solid;
    background-color: #ff9853;
}

QProgressBar{
    border: 1px solid #032358;
    background-color: #222d32;
}

QProgressBar::chunk {
    background-color: #9b123e;
}


/*Vertiacl Scrollbar CSS*/
QScrollBar:vertical {
    background-color: #032358;
}

QScrollBar::handle:vertical {
    border: 3px solid #ff9853;
    border-radius: 5px;
    min-height: 25px;
}

QScrollBar::up-arrow:vertical{
    background-color: #032358;
    border-style: solid;
}

QScrollBar::down-arrow:vertical{
    background-color: #032358;
    border-style: solid;
}


QScrollBar::add-line:vertical {
    border: 0px solid;
    height: 0px;
    subcontrol-position: bottom;
}

QScrollBar::sub-line:vertical {
    border: 0px solid;
    height: 0px;
    subcontrol-position: top;
}

/*Horizontal Scrollbar CSS*/
QScrollBar:horizontal {
    background-color: #032358;
}

QScrollBar::handle:horizontal {
    border: 3px solid #ff9853;
    border-radius: 5px;
    min-height: 25px;
}

QScrollBar::up-arrow:horizontal{
    background-color: #032358;
    border-style: solid;
}

QScrollBar::down-arrow:horizontal{
    background-color: #032358;
    border-style: solid;
}


QScrollBar::add-line:horizontal {
    border: 0px solid;
    height: 0px;
    subcontrol-position: bottom;
}

QScrollBar::sub-line:horizontal {
    border: 0px solid;
    height: 0px;
    subcontrol-position: top;
}

/*FONTS!*/
@font-face {
    font-family: 'DSEG14Classic';
    src: url('./resources/fonts/SegmentedDisplay/DSEG14Classic-Regular.ttf');
}

@font-face {
    font-family: 'Julius';
    src: url('./resources/fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./resources/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Quicksand';
    src: url('./resources/fonts/Quicksand/Quicksand-Regular.ttf');
}