QPushButton {
    border-color: #94C794;
    border-style: solid;
    background-color: #94C794;
    color: #f9f9f9;
    font-size: 18px;
}

QPushButton:hover{
    border-color: #769F76;
    border-style: solid;
    background-color: #769F76;
    color: #f9f9f9;
    font-size: 18px;
}

#wMainColor{
    background-color: #E19D6C;
}

#passColor{
    background-color: #3C9CBC;
}

#passTab{
    background-color: #4CC3EC;
}

#seperator{
    background-color: #f9f9f9;
}

#listText{
    font-size: 18px;
    font-weight: bold;
    color: #f9f9f9;
    font-family: 'Comfortaa';
}

#deleteBtn{
    background-color: #9b123e;
}

QScrollBar:vertical {
    background-color: #2A6D83;
}

QScrollBar::handle:vertical {
    border: 3px solid #2A836D;
    border-radius: 5px;
    min-height: 25px;
}

QScrollBar::up-arrow:vertical{
    background-color: #2A6D83;
    border-style: solid;
}

QScrollBar::down-arrow:vertical{
    background-color: #2A6D83;
    border-style: solid;
}


QScrollBar::add-line:vertical {
    border: 0px solid;
    height: 0px;
    subcontrol-position: bottom;
}

QScrollBar::sub-line:vertical {
    border: 0px solid;
    height: 0px;
    subcontrol-position: top;
}

@font-face {
    font-family: 'Bangers';
    src: url('./resources/fonts/Bangers/Bangers-Regular.ttf');
}

@font-face {
    font-family: 'bignoodletoo';
    src: url('./resources/fonts/bignoodletoo/bignoodletoo.ttf');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('./resources/fonts/Comfortaa/Comfortaa-Bold.ttf');
}